body {
    margin: 0px;
    font-family: "Segoe UI", "Open Sans", serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.comapny {
    height: 150px;
    width: 200px;
    margin: 5px auto;
    background-color: darkorange;
}

.banner {
    max-width: 100%;
    height: 180px;
    margin: 5px auto;
    background-color: orange;
}


/*===================================
            USER DISPLAY
======================================*/

.user {
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 5px;
    display: inline-block;
}

.user .user-log {
    margin: 2px;
    width: 80px;
    height: 99px;
    float: left;
    text-align: center;
}

.back {
    margin: 2px;
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
}

.user .log-back {
    margin: 10px AUTO;
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
}

.user .log-back {
    border-radius: 50px;
    border: 1px solid #eceff1;
}

.user .logout {
    margin: 2px;
    width: 80px;
    height: 99px;
    float: right;
    text-align: center;
}

.user .logout .mn-btn {
    padding: 5px;
    margin: 5px;
}

.user .time {
    float: right;
    width: 180px;
    height: 100%;
    margin: 2px;
}

.user .time p {
    color: orange;
}


/*===================================
            MENU DISPLAY
======================================*/

.menu-icons {
    margin: 8px;
    width: 100%;
    display: inline-block;
}

.menu-icons p {
    margin-left: 5px;
    font-style: italic;
}

a:hover {
    background-color: #eceff1;
}

.mn-main {
    margin: 2px;
    width: 165px;
    height: 99px;
    float: left;
    text-align: center;
}

.mn-main .mn-btn {
    max-width: 100%;
    height: 69px;
    margin: 5px;
    padding: 5px;
}

.mn-main .mn-title {
    text-align: center;
    max-width: 100%;
    height: 30px;
}

.mn-main .mn-title .title {
    color: #000;
    font-family: "Segoe UI Bold", "Open Sans Bold", serif;
}

.btm-line {
    width: 100%;
    height: 40px;
    margin: 8px;
    display: inline-block;
}

.left-p {
    float: left;
    margin: 5px;
}

.right-p {
    float: right;
    margin: 5px;
}

.logger {
    max-width: 400px;
    margin: 10px AUTO;
}


/*===============================
        MONTHS OF THE YEAR
=================================*/

#moy {
    list-style: none;
}

#moy li {
    float: left;
    margin: 5px;
}

#moy li button {
    min-width: 120px;
    background-color: #fff8e1;
    border-radius: 3px;
}


/*===============================
            SEARCH MENU
=================================*/

#display {
    position: absolute;
    margin: 0px;
    z-index: 999;
}

#display ul {
    list-style: none;
    width: 300px;
    margin: 0px;
    padding: 0px;
}

#display ul li {
    display: block;
    padding: 5px;
    background-color: #ffe0b2;
    border-bottom: 1px solid #367;
    cursor: pointer;
}

#display ul li:hover {
    background-color: #ffcc80;
}